<section>
  <div class="row">
    <div class="span16">
      <h2>Collect Page Stats</h2>

      <div class="well">
        <a href="/page_select" class="btn">Page</a>
        <a href="/sub_account_select" class="btn">Sub Account</a>
        <a href="/account_select" class="btn">Account</a>
        <a href="/all" class="btn">All</a>
      </div>

      <p>
        Generate a stats report for a specific page, all pages in a sub-account, all pages in an account, or all pages you have access to in all accounts.
      </p>

    </div>
  </div>
</section>
