<!DOCTYPE html>
<html>
<head>
  <title>UB Dope</title>
  <link type="text/css" rel="stylesheet" media="screen" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" media="screen" href="/application.css">
</head>
<body>
  <div class="topbar" data-scrollspy="scrollspy">
    <div class="fill">
      <div class="container">
        <% link = signed_in? ? '/hierarchy_select' : '/' %>
        <a class="brand" href="<%= link %>">UB Dope (for Unbounce)</a>
        <ul class="nav">
          <li><a href="/sign_out">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-buttons.min.js"></script>
  <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-scrollspy.js"></script>
  <script src="/application.js"></script>
</body>
</html>
