<section id="explore">
  <div class="row">
    <div class="span16">
      <% unless signed_in? %>
        <h3>Sign in to Unbounce</h3>
        <p>
          Sign in to Unbounce and allow us to collate your account information for you.
        </p>
        <p><a href="/sign_in" class="btn primary">Sign in</a></p>
      <% end %>
    </div>
  </div>
</section>
