<section>
  <div class="row">
    <div class="span16">
      <h2>Select Which Page</h2>

      <div class="well">
        <% @data.each do |account, pages| %>
          <h3>Account: <%= account %></h3>
          <ul>
          <% pages.each do |page| %>
            <li><a href="page/<%= page['id'] %>"><%= page['name'] %></a>
          <% end %>
          </ul>
        <% end %>
      </div>

    </div>
  </div>
</section>
