<section>
  <div class="row">
    <div class="span16">
      <h2>Select Which Page</h2>

      <div class="well">
        <ul>
          <li>
        <a href="/page">Page</a>
        </li>
        <li>
        <a href="/sub_account">Sub Account</a>
        </li>
        <li>
        <a href="/account">Account</a>
        </li>
        </ul>
      </div>

    </div>
  </div>
</section>
